app = "pico-scoreboard-api-dgrantpete"
primary_region = "iad"

[build]
dockerfile = "Dockerfile"

[env]
RUST_LOG = "info"
LOG_FORMAT = "json"

[http_service]
internal_port = 3000
force_https = true
auto_stop_machines = "stop"
auto_start_machines = true
min_machines_running = 1

[http_service.http_options]
idle_timeout = 120

[[http_service.checks]]
grace_period = "10s"
interval = "15s"
method = "GET"
timeout = "5s"
path = "/health"

[[vm]]
size = "shared-cpu-1x"
memory = 256